* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

#history {
    background: url(../images/top-view-delicious-organic-wine-and-grapes.jpg);
    width: 100%;
    max-width: 100%;
    background-size: cover;
    padding: 5%;
} 


footer .container {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin: 5px 0 10px;
    list-style: none;
}

footer .container li {
    margin-left: 20px;
}

footer div {
    text-align: center;
}
.rights {
    font-size: 12px;
}


img {
    width: 100%;
    object-fit: cover;
    margin-top: 10px;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.box {
    flex: 25%;
    padding: 5px;
}

.box ul {
    list-style: none;
}



.table_comparative {
    margin-top: 20px;
}
.table_comparative table {
    width: 100%;
    text-align: left;
}
th, td {
    border: solid 1px;
    border-color: black;
    padding: 0;
}
.empty_blocks {
    border: 0px;
    background-color: white;
}
.table_comparative table thead {
    background-color: #8e1f4c;
}
.table_comparative table tbody {
    background-color: coral;
}
.column {
    background-color: #8e1f4c;
}


.about {
    text-align: center;
    margin-top: 20px;
}
.content h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 800;
}
.content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
}


/* .form_contact {
    background-color: chocolate;
    position: relative;
} */
.form {
    margin-top: 10px;
    margin-bottom: 30px;
}
.first_part_contact {
    margin-bottom: 10px;
}
.form p {
    margin-bottom: 10px;
}
.second_part_contact {
    margin-bottom: 10px;
}



/* Tamaño para tablet */
@media screen and (min-width: 992px) {
    /* Use grids para tablet */
    /* body {
        overflow-x: hidden;
        max-width: 100%;
        display: grid;
        grid-template-areas: 
        "header header header header"
        "main main main aside"
        "main main main aside"
        "main main main aside"
        "footer footer footer footer";
    } */

    #history {
        background: url(../images/top-view-delicious-organic-wine-and-grapes.jpg);
        width: 100%;
        max-width: 100%;
        background-size: cover;
        padding: 5%;
    }


    .container {
        padding: 10px;
        margin-left: 10px;
    }
    main div h4 {
        font-size: 40px;
        margin-bottom: 50px;
    }
    .columns {
        display: flex;
        color: sienna;
    }
    
    .column {
        width: 60%;
        margin-right: 40px;
    }


    footer {
        padding: 0%;
    }

    footer .container {
        justify-content: right;
        align-content: space-between;
        margin: 5px 0 10px;
        float: right;
    }
    
    footer .container li {
        margin-left: 20px;
    }
    
    footer div {
        display: flex;
        justify-content: space-around;
    }
    .rights {
        text-align: left;
        position: relative;
        margin-top: 30px;
    }
}


.linear-gradiant {
    background-image: linear-gradient(to left, blue, yellow, blue);
}

.transform {
    background-color: #8e1f4c;
    transform: translate(8px, 30px);
}

.animate-big {
    margin: 10px;
    height: 50px;
    width: 440px;
    background-color: #8e1f4c;
    transition: height 2s, width 1s, background-color 3s;
}

.animate-big:hover {
    height: 100px;
    width: 880px;
    background-color: grey;
    color: black
}

@keyframes animation {
    0% {width: 110px; height: 25px; background-color: aqua;}
    25% {width: 110px; height: 25px; background-color: blue;}
    50% {width: 110px; height: 25px; background-color: chartreuse;}
    75% {width: 110px; height: 25px; background-color: blue;}
    100% {width: 110px; height: 25px; background-color: aqua;}
}

.animation {
    height: 30px;
    width: 160px;
    background-color: aqua;
    animation-name: animation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 5s;
}


/* Tamaño para pc */
@media screen and (min-width: 1200px) {
    /* Use Grids para desktop
    body {
        display: grid;
        grid-template-areas: 
        "header header header header header header"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "footer footer footer footer footer footer";
    } */

    #history {
        background: url(..//images/top-view-delicious-organic-wine-and-grapes.jpg);
        width: 100%;
        max-width: 100%;
        background-size: cover;
        padding: 5%;
    }


    .container {
        padding: 10px;
        margin-left: 10px;
    }
    main div h4 {
        font-size: 40px;
        margin-bottom: 50px;
    }
    .columns {
        display: flex;
        color: sienna;
    }
    
    .column {
        width: 60%;
        margin-right: 40px;
    }


    footer {
        padding: 0%;
    }

    footer .container {
        justify-content: right;
        align-content: space-between;
        margin: 5px 0 10px;
        float: right;
    }
    
    footer .container li {
        margin-left: 20px;
    }
    
    footer div {
        display: flex;
        justify-content: space-around;
    }
    .rights {
        text-align: left;
        position: relative;
        margin-top: 30px;
    }
    
}
