<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Wineries in Mendonza">
    <!-- Agregue estos meta -->
    <meta name="keywords" content="wine, route, mendoza, vino">
    <meta name="author" content="Francisco Abate">
    <meta name="robots" content="index, follow">

    <title>Wine Route</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/jquery.slim.min.js"></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="../social_media/font.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/styles.css">

    <link rel="shortcut icon" href="../icon/vino3.ico">
</head>
<body>
    <!-- Use boostrap en el header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="../index.html">The wine route</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="./wineries.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                        Wineries
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="./Views/wineries.html">All the wineries</a>
                      <a class="dropdown-item" href="https://bodegaslopez.com.ar/">Bodegas Lopez</a>
                      <a class="dropdown-item" href="http://www.universovigil.com/">Casa Vigil (El Enemigo)</a>
                      <a class="dropdown-item" href="https://www.bodegarucamalen.com/">Ruca Malen</a>
                      <a class="dropdown-item" href="https://www.bodegasalentein.com/">Salentein Valle de Uco</a>
                    </div>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="comparative.html">Comparative</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./who_are_we.html">Who are we?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contact.html">Contact</a>
                  </li>
              </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="title_comparative">
            <h3>Some of the incredible Mendoza wineries</h3>
        </div>
        <div class="table_comparative">
            <table>
                <thead>
                    <tr>
                        <th class="empty_blocks"></th>
                        <th>Bodegas Lopez</th>
                        <th>Casa Vigil (El Enemigo)</th>
                        <th>Ruca Malen</th>
                        <th>Salentein Valle de Uco</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="column">Ubication</td>
                        <td>18 Km from Plaza Independencia</td>
                        <td>30 Km from Plaza Independencia</td>
                        <td>35 Km from Plaza Independencia</td>
                        <td>94 Km from Plaza Independencia</td>
                    </tr>
                    <tr>
                        <td class="column">Specialty</td>
                        <td>Petit Montchenot (Blend between malbec and cabernet)</td>
                        <td>El Gran Enemigo (Blend between Malbec and Cabernet Franc)</td>
                        <td>Ruca Malbec Reserva (Blend between Malbec, Cabernet Sauvignon and Petit Verdot)</td>
                        <td>Salentein Gran Valle de Uco (Blend between Malbec and Cabernet Sauvignon)</td>
                    </tr>
                    <tr>
                        <td class="column">Restaurant</td>
                        <td>Modest</td>
                        <td>Excellent</td>
                        <td>Excellent</td>
                        <td>Modest</td>
                    </tr>
                    <tr>
                        <td class="column">Tour</td>
                        <td>Simple but explanatory</td>
                        <td>Very complete</td>
                        <td>Complete and intuitive</td>
                        <td>Short but enriching</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <div>
            <div>
                <ul class="container">
                    <li><a href="https://m.facebook.com/" class="icon-facebook2" target="_blank"></a></li>
                    <li><a href="https://instagram.com/" class="icon-instagram" target="_blank"></a></li>
                    <li><a href="https://twitter.com/" class="icon-twitter" target="_blank"></a></li>
                    <li><a href="https://web.whatsapp.com/" class="icon-whatsapp" target="_blank"></a></li>
                </ul>
            </div>
            <div>
                <h4 class="rights">Copyright © 2022 wineroute.coderhouse All Rights Reserved.</h4>
            </div>
        </div>
    </footer>
</body>
</html>