<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Wineries in Mendonza">
    <!-- Agregue estos meta -->
    <meta name="keywords" content="wine, route, mendoza, vino">
    <meta name="author" content="Francisco Abate">
    <meta name="robots" content="index, follow">

    <title>Wine Route</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/jquery.slim.min.js"></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="../social_media/font.css">
    <link rel="stylesheet" href="../scss/main.css">
    <link rel="stylesheet" href="../css/styles.css">

    <link rel="shortcut icon" href="../icon/vino3.ico">
</head>
<body>
    <!-- Use boostrap en el header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="../index.html">The wine route</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/wineries.html">Wineries</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/comparative.html">Comparative</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/who_are_we.html">Who are we?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                  </li>
              </ul>
            </div>
        </nav>
    </header>
    <main class="contact">
        <div class="contact_section">
            <div class="contact_info">
                <div><i class="icon-location"></i>Miramar, Argentina</div>
                <div><i class="icon-envelop"></i>lic.francisco.abate@gmail.com</div>
                <div><i class="icon-phone"></i>+54 2291 416121</div>
                <div><i class="icon-clock2"></i>Mon - Fri 9:00AM to 18:00PM</div>
            </div>
        </div>
        <div class="general_form">
            <section>
                <h2>Contact Us</h2>
            </section>
            <section class="contact_form">
                <article class="complete_form">
                    <form action="index.html" method="" enctype="">
                        <fieldset class="form">
                            <legend class="first_part_contact"></legend>
                            <label for="name" id="name">Write your full name: </label>
                            <input type="text" placeholder="First name" id="name">
                            <label for="surname" id="surname">Write your surname: </label>
                            <input type="text" placeholder="Surname" id="surname">
                            <label for="email" id="email">Write your email: </label>
                            <input type="email" placeholder="Email" id="email">
                            <p>Comments</p>
                            <textarea name="" cols="50" rows="10" placeholder="Write your comments"></textarea>
                        </fieldset>
                        <fieldset>
                            <legend class="second_part_contact">More information</legend>
                            <div class="question">
                                <p>How much do you know about wines?</p>
                                <div>
                                    <select name="">
                                        <option value="much">Much</option>
                                        <option value="little">Little</option>
                                        <option value="none">None</option>
                                    </select> 
                                </div>
                            </div>
                            <label for="newsletters">Want to receive newsletters? </label>
                            <input type="checkbox"> Yes
                            <input type="checkbox"> No
                        </fieldset>
                        <div class="finish">
                            <input type="button" name="" value="Send">
                            <input type="reset" name="" value="Reset information">
                        </div>
                    </form>
                </article>
            </section>
        </div>
    </main>
    <footer>
        <div>
            <div>
                <ul class="container">
                    <li><a href="https://m.facebook.com/" class="icon-facebook2" target="_blank"></a></li>
                    <li><a href="https://instagram.com/" class="icon-instagram" target="_blank"></a></li>
                    <li><a href="https://twitter.com/" class="icon-twitter" target="_blank"></a></li>
                    <li><a href="https://web.whatsapp.com/" class="icon-whatsapp" target="_blank"></a></li>
                </ul>
            </div>
            <div>
                <h4 class="rights">Copyright © 2022 wineroute.coderhouse All Rights Reserved.</h4>
            </div>
        </div>
    </footer>
</body>
</html>