<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Css/styles.css">
    
        <title>Wine Route</title>
        <link rel="shortcut icon" href="../icon/vino3.ico">
    </head>
<body>
    <header>
        <section class="header_section">
            <article>
                <h1>Choose a route, not a routine</h1>
                <nav>
                    <ul class="main-nav">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="./wineries.html">Wineries</a></li>
                        <li><a href="./comparative.html">Comparative</a></li>
                        <li><a href="./who_are_we.html">Who are we?</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </article>
        </section>
    </header>
    <main>
        <section>
            <h1>Contact</h1>
        </section>
        <section class="form_contact">
            <article>
                <form action="index.html" method="" enctype="">
                    <fieldset class="form">
                        <legend class="first_part_contact">Main</legend>
                        <label for="name" id="name">Write your full name: </label>
                        <input type="text" placeholder="First name" id="name">
                        <label for="surname" id="surname">Write your surname: </label>
                        <input type="text" placeholder="Surname" id="surname"><br><br>
                        <label for="email" id="email">Write your email: </label>
                        <input type="email" placeholder="Email" id="email"><br>
                        <br><br>
                        <p>Comments</p>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Write your comments"></textarea><br><br>
                    </fieldset>
                    <fieldset>
                        <legend class="second_part_contact">More information</legend>
                        <p>How much do you know about wines?</p>
                        <select name="" id="">
                            <option value="much">Much</option>
                            <option value="little">Little</option>
                            <option value="none">None</option>
                        </select>
                        <br><br>
                        <label for="newsletters">Want to receive newsletters? </label>
                        <input type="checkbox" id="newsletters"> Yes
                        <input type="checkbox" id="newsletters"> No <br>
                    </fieldset>
                    <br><br>
                    <input type="button" name="" id="" value="Send">
                    <input type="reset" name="" id="" value="Reset information">
                </form>
            </article>
        </section>
    </main>
    <aside>
        <section>
            ASIDE PUBLICIDAD
        </section>
    </aside>
    <footer>
        <li><a href="index.html">Legal Notes</a></li>
        <li><a href="index.html">Confidentiality Policies</a></li>
        <li><a href="https://m.facebook.com/">Facebook</a></li>
        <li><a href="https://instagram.com/">Instagram</a></li>
        <h4 class="rights">Copyright © 2022 wineroute.coderhouse All Rights Reserved.</h4>
    </footer>
</body>
</html>