<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Css/styles.css">
    
        <title>Wine Route</title>
        <link rel="shortcut icon" href="../icon/vino3.ico">
    </head>
<body>
    <header>
        <section class="header_section">
            <article>
                <h1>Choose a route, not a routine</h1>
                <nav>
                    <ul class="main-nav">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="./wineries.html">Wineries</a></li>
                        <li><a href="./comparative.html">Comparative</a></li>
                        <li><a href="who_are_we.html">Who are we?</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </article>
        </section>
    </header>
    <main>
        <section class="about">
            <div class="content">
                <h3 class="content_title">
                    Who are we
                </h3>
                <p class="content_description">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
            </div>
        </section>
    </main>
    <aside>
        <section>
            ASIDE PUBLICIDAD
        </section>
    </aside>
    <footer>
        <li><a href="index.html">Legal Notes</a></li>
        <li><a href="index.html">Confidentiality Policies</a></li>
        <li><a href="https://m.facebook.com/">Facebook</a></li>
        <li><a href="https://instagram.com/">Instagram</a></li>
        <h4 class="rights">Copyright © 2022 wineroute.coderhouse All Rights Reserved.</h4>
    </footer>
</body>
</html>