<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Css/styles.css">
    
        <title>Wine Route</title>
        <link rel="shortcut icon" href="../icon/vino3.ico">
    </head>
<body>
    <header>
        <section class="header_section">
            <article>
                <h1>Choose a route, not a routine</h1>
                <nav>
                    <ul class="main-nav">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="wineries.html">Wineries</a></li>
                        <li><a href="./comparative.html">Comparative</a></li>
                        <li><a href="./who_are_we.html">Who are we?</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </article>
        </section>
    </header>
    <main>
        <div class="container">
            <div class="box">
                <ul>
                    <p>Bodegas Lopez</p>
                    <li><a href="https://bodegaslopez.com.ar/" target="_blank"><img src="..\images\bodegaslopez.jpg" alt="Bodegas Lopez" height="300"></a></li>
                </ul>
            </div>
            <div class="box">
                <ul>
                    <p>Casa Vigil (El Enemigo)</p>
                    <li><a href="http://www.universovigil.com/" target="_blank"><img src="..\images\casavigil.jpg" alt="Casa Vigil (El Enemigo)" height="300"></a></li>
                </ul>
            </div>
            <div class="box">
                <ul>
                    <p>Ruca Malen</p>
                    <li><a href="https://www.bodegarucamalen.com/" target="_blank"><img src="..\images\rucamalen.jpg" alt="Ruca Malen" height="300"></a></li>
                </ul>
            </div>
            <div class="box">
                <ul>
                    <p>Salentein Valle de Uco</p>
                    <li><a href="https://www.bodegasalentein.com/" target="_blank"><img src="..\images\bodegassalentein.jpg" alt="Salentein Valle de Uco" height="300"></a></li>
                </ul>
            </div>
        </div>
    </main>
    <aside>
        <section>
            ASIDE PUBLICIDAD
        </section>
    </aside>
    <footer>
        <li><a href="index.html">Legal Notes</a></li>
        <li><a href="index.html">Confidentiality Policies</a></li>
        <li><a href="https://m.facebook.com/">Facebook</a></li>
        <li><a href="https://instagram.com/">Instagram</a></li>
        <h4 class="rights">Copyright © 2022 wineroute.coderhouse All Rights Reserved.</h4>
    </footer>
</body>
</html>