<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Wineries in Mendonza">
    <!-- Agregue estos meta -->
    <meta name="keywords" content="wine, route, mendoza, vino">
    <meta name="author" content="Francisco Abate">
    <meta name="robots" content="index, follow">

    <title>Wine Route</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/jquery.slim.min.js"></script>
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="../social_media/font.css">
    <link rel="stylesheet" href="../scss/main.css">
    <link rel="stylesheet" href="../css/styles.css">

    <link rel="shortcut icon" href="../icon/vino3.ico">
</head>
<body>
    <!-- Use boostrap en el header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="../index.html">The wine route</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="wineries.html">Wineries</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/comparative.html">Comparative</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/who_are_we.html">Who are we?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/contact.html">Contact</a>
                  </li>
              </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container_box">
            <div class="box1">
                <div>
                    <h2>Bodegas Lopez</h2>
                    <p>Quienes sueñas y confían como Bodegas López, no aceptaron ofertas y decidieron mantener la conducción familiar de sus establecimientos. 

                        Su fundador, José López Rivas, llegó a la Argentina en 1886, proveniente de Algarrobo, Málaga. En 1898 se instalo definitivamente en Mendoza y comenzó con la elaboración de sus propios vinos.
                        
                        En 1922, José Federico López se hizo responsable de la bodega y se orientó obstinadamente hacia la elaboración de vinos finos. En 1994 don José Federico falleció, dejando su lugar a su hijo Carlos Alberto, quien junto a sus hijos conforma actualmente la estirpe bodeguera de cuatro generaciones.
                        
                        López, pese a que vendió una porción de su parte accionaria, es una de las pocas empresas vitivinícolas de Argentina que ha sobrevivido más de 100 años en manos de un mismo linaje.</p>
                </div>
                <ul class="wineries">
                    <li><a href="https://bodegaslopez.com.ar/" target="_blank"><img src="..\images\bodegaslopez.jpg" alt="Bodegas Lopez" height="300"></a></li>
                </ul>
            </div>
            <div class="box">
                <div>
                    <h2>Casa Vigil (El Enemigo)</h2>
                    <p>En el paraje de Chachingo, ícono de Maipú, se encuentra Casa Vigil, inspirada en el mágico mundo de la Divina Comedia de Dante Alighieri.

                        Una bodega que invita a experimentar el encanto del vino, la gastronomía y la literatura fusionados en una propuesta enoturística única.
                        
                        Alejandro Vigil junto a su esposa, María Sance llegaron a esta zona de Mendoza, para soñar su casa familiar entre viñedos y cultivos. Años más tarde, con la llegada de sus dos hijos, Juan Cruz y Giuliana, comenzaron a imaginar un lugar mágico que recibiera a lugareños y turistas de los lugares más remotos del mundo.
                        
                        Hoy, esta bodega familiar que mixtura el arte local, el entorno natural y la vida en familia se ha convertido en líder absoluta en experiencias del mundo del vino, un mundo fantástico entre el infierno, el purgatorio y el paraíso donde los Vigil abren las puertas de su vida.
                    </p>
                </div>
                <ul class="wineries">
                    <li><a href="http://www.universovigil.com/" target="_blank"><img src="..\images\casavigil.jpg" alt="Casa Vigil (El Enemigo)" height="300"></a></li>
                </ul>
            </div>
            <div class="box1">
                <div>
                    <h2>Ruca Malen</h2>
                    <p>
                        La Bodega Ruca Malen comenzó en 1998 de la mano de Jean Pierre Thibaud y Jacques Louis de Montalembert y desde su primera cosecha 1999, trabaja con el objetivo de lograr la más alta calidad, elaborando vinos con estilo, elegancia y distinción. Desde 2015 la bodega continúa profundizando sobre la línea de crecimiento y profesionalización de la producción.
                        Con la llegada de Agustina Hanna como enóloga, la Bodega Ruca Malen abre paso hacia una nueva etapa en su historia, en constante superación en términos de calidad e innovación, y con un continuo compromiso con la sustentabilidad.
                    </p>
                </div>
                <ul class="wineries">
                    <li><a href="https://www.bodegarucamalen.com/" target="_blank"><img src="..\images\rucamalen.jpg" alt="Ruca Malen" height="300"></a></li>
                </ul>
            </div>
            <div class="box">
                <div>
                    <h2>Salentein Valle de Uco</h2>
                    <p>
                        La bodega está ubicada a una altura de 1.200 metros, justo en el centro de los viñedos. Más de 49 hectáreas de hábitat desértico autóctono fueron conservadas, y forman parte del paisaje cotidiano de la bodega. El horizonte occidental está dominado por los cercanos Andes nevados, que se elevan a más de 6.100 metros.

                        La magnífica bodega fue diseñada teniendo en cuenta dos aspectos: la forma y la función. La forma en cruz facilita un manejo cuidadoso de las uvas y del vino, al tiempo que permite reducir el camino que tanto las frutas como su producto recorren a lo largo de las distintas etapas de elaboración. Cada ala constituye en sí misma una pequeña bodega con dos niveles.

                        En el primero, tanques de acero inoxidable y cubas de roble francés posibilitan la fermentación y el almacenamiento. En el nivel subterráneo, en tanto, el vino es añejado en barricas de roble. Ambos pisos permiten que el líquido circule de los tanques a las barricas a través de un sistema tradicional de transferencia por gravedad.

                        Las cuatro alas convergen en una cámara central circular, similar a un anfiteatro, construida con los templos clásicos de la antigüedad como inspiración.
                    </p>
                </div>
                <ul  class="wineries">
                    <li><a href="https://www.bodegasalentein.com/" target="_blank"><img src="..\images\bodegassalentein.jpg" alt="Salentein Valle de Uco" height="300"></a></li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <div>
                <ul class="container">
                    <li><a href="https://m.facebook.com/" class="icon-facebook2" target="_blank"></a></li>
                    <li><a href="https://instagram.com/" class="icon-instagram" target="_blank"></a></li>
                    <li><a href="https://twitter.com/" class="icon-twitter" target="_blank"></a></li>
                    <li><a href="https://web.whatsapp.com/" class="icon-whatsapp" target="_blank"></a></li>
                </ul>
            </div>
            <div>
                <h4 class="rights">Copyright © 2022 wineroute.coderhouse All Rights Reserved.</h4>
            </div>
        </div>
    </footer>
</body>
</html>