/* Tamaño para pc */
@media screen and (min-width: 1200px) {
    /* Use Grids para desktop
    body {
        display: grid;
        grid-template-areas: 
        "header header header header header header"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "footer footer footer footer footer footer";
    } */

    #history {
        background: url(..//images/top-view-delicious-organic-wine-and-grapes.jpg);
        width: 100%;
        max-width: 100%;
        background-size: cover;
        padding: 5%;
    }

    main section h1 {
        font-size: 110px;
        color: #280400!important;
        line-height: 2em;
    }
    .container {
        padding: 10px;
        margin-left: 10px;
    }
    main div h4 {
        font-size: 40px;
        margin-bottom: 50px;
    }
    .columns {
        display: flex;
        color: sienna;
    }
    
    .column {
        width: 60%;
        margin-right: 40px;
    }

    // wineries 

    .container_box {
        flex-direction: column;
        font-family: $generalfontfamily;
        font-size: 15px;
    }
    .box1 {
        flex: 25%;
        padding: 5px;
        display: flex;
        flex-direction: row-reverse;
            div {
                margin-left: 1rem;
                h2 {
                    margin-bottom: 1em;
                }   
            }
    }
    .box {
        flex: 25%;
        padding: 5px;
        display: flex;
        margin-top: 20px;
            div {
                margin-left: 1rem;
                h2 {
                    margin-bottom: 1em;
                }   
            }
    }
    .wineries {
        width: 300%;
    }


    

    // contact.html

    .contact {
        background: url(../images/contact.jpg);
        width: 100%;
        max-width: 100%;
        background-size: cover;
        padding: 5%;
        display: flex;
    }

    .contact_section{
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .contact_info {
        color: $colorwine;
        max-width: 500px;
        line-height: 65px;
        padding-left: 50px;
        font-size: 18px;
        margin-bottom: 450px;
            i {
                margin-right: 15px;
                font-size: 20px;
            }
    }

    .general_form {
        margin-right: 40px;
        width: 100%;
    }
    .contact_form {
        background-color: map-get($color, secondary);
        max-width: 750px;
        margin-right: 75px;
        padding: 15px;
    }
    .complete_form {
        justify-content: left;
    }
    .form {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .first_part_contact {
        margin-bottom: 10px;
    }
    .form p {
        margin-bottom: 10px;
    }

    .second_part_contact {
        margin-bottom: 10px;
    }
    .question {
        display: flex;
            div {
                margin-left: 5px;
            }
    }

    // Who are we

    .about {
        width: 100%;
        height: 100vh;
        background-color:antiquewhite;
        display: flex;
        text-align: center;
        align-items: center;
        margin: 0%;
    }
    .content {
        width: 100%;
        }
            h3 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 50px;
                margin-top: 5px;
                margin-bottom: 20px;
                font-weight: 800;
            }

    .content p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    // comparative
        
    .title_comparative {
        h3 {
            font-family: $generalfontfamily;
            font-size: 50px;
            margin-right: 65px;
        }
    }
    #table {
        width: 100%;
        max-width: 100%;
        background-size: cover;
        background-color: bisque;
        padding: 5%;
        display: flex;
        color: #280400;
    }
    .table_comparative {
        margin-top: 20px;
            table {
                width: 100%;
                text-align: left;
                border-collapse: separate;
                font-size: 20px;
                    thead {
                        background-color: #8e1f4c;
                    }
                    tbody {
                        background-color: coral;
                    }
                        th, td {
                            border-color: black;
                            padding: 0;
                            border: thin;
                        }
            }
    }
    .empty_blocks {
        background-color: bisque;
    }

    .column {
        background-color: #8e1f4c;
        margin-right: 10px;
    }

    // footer

    footer {
        padding: 0%;
    }

    footer .container {
        justify-content: right;
        align-content: space-between;
        margin: 5px 0 10px;
        float: right;
    }
    
    footer .container li {
        margin-left: 20px;
    }
    
    footer div {
        display: flex;
        justify-content: space-around;
    }
    .rights {
        text-align: left;
        position: relative;
        margin-top: 30px;
    }
    
}


/* Tamaño para tablet */
@media screen and (min-width: 992px) {
    /* Use Grids para desktop
    body {
        display: grid;
        grid-template-areas: 
        "header header header header header header"
        "main main main main main main"
        "main main main main main main"
        "main main main main main main"
        "footer footer footer footer footer footer";
    } */

    #history {
        background: url(..//images/top-view-delicious-organic-wine-and-grapes.jpg);
        width: 100%;
        max-width: 100%;
        background-size: cover;
        padding: 5%;
    }

    main section h1 {
        font-size: 110px;
        color: #280400!important;
        line-height: 2em;
    }
    .container {
        padding: 10px;
        margin-left: 10px;
    }
    main div h4 {
        font-size: 40px;
        margin-bottom: 50px;
    }
    .columns {
        display: flex;
        color: sienna;
    }
    
    .column {
        width: 60%;
        margin-right: 40px;
    }

    // wineries 

    .container_box {
        flex-wrap: wrap;
        flex-direction: column;
        font-family: $generalfontfamily;
        font-size: 15px;
    }
    .box1 {
        flex: 25%;
        padding: 5px;
        display: flex;
        flex-direction: row-reverse;
            div {
                margin-left: 1rem;
                h2 {
                    margin-bottom: 1em;
                }   
            }
    }
    .box {
        flex: 25%;
        padding: 5px;
        display: flex;
        margin-top: 20px;
            div {
                margin-left: 1rem;
                h2 {
                    margin-bottom: 1em;
                }   
            }
    }
    .wineries {
        width: 300%;
    }

    // contact.html

    .contact {
        background: url(../images/contact.jpg);
        width: 100%;
        max-width: 100%;
        background-size: cover;
        padding: 5%;
        display: flex;
    }

    .contact_section{
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-right: 50px;
    }
    .contact_info {
        color: $colorwine;
        max-width: 500px;
        line-height: 65px;
        padding-left: 50px;
        font-size: 18px;
        margin-bottom: 450px;
            i {
                margin-right: 15px;
                font-size: 20px;
            }
    }

    .general_form {
        margin-right: 40px;
        width: 100%;
    }
    .contact_form {
        background-color: map-get($color, secondary);
        max-width: 750px;
        margin-right: 75px;
        padding: 15px;
    }
    .complete_form {
        justify-content: left;
    }
    .form {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .first_part_contact {
        margin-bottom: 10px;
    }
    .form p {
        margin-bottom: 10px;
    }

    .second_part_contact {
        margin-bottom: 10px;
    }
    .question {
        display: flex;
            div {
                margin-left: 5px;
            }
    }

    // comparative

    #table {
        width: 100%;
        max-width: 100%;
        background-size: cover;
        background-color: bisque;
        padding: 5%;
        display: flex;
        color: #280400;
    }
    .table_comparative {
        margin-top: 20px;
            table {
                width: 100%;
                text-align: left;
                border-collapse: separate;
                    thead {
                        background-color: #8e1f4c;
                    }
                    tbody {
                        background-color: coral;
                    }
                        th, td {
                            border-color: black;
                            padding: 0;
                            border: thin;
                        }
            }
    }
    .empty_blocks {
        background-color: bisque;
        border: thin;
    }

    .column {
        background-color: #8e1f4c;
        margin-right: 10px;
    }

    // footer

    footer {
        padding: 0%;
    }

    footer .container {
        justify-content: right;
        align-content: space-between;
        margin: 5px 0 10px;
        float: right;
    }
    
    footer .container li {
        margin-left: 20px;
    }
    
    footer div {
        display: flex;
        justify-content: space-around;
    }
    .rights {
        text-align: left;
        position: relative;
        margin-top: 30px;
    }
    
}